# Node
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Remix build
/build
/public/build
.next

# Environment variables
.env
.env.* 

# MacOS / Linux
.DS_Store
*.swp

# AWS / Amplify
amplify/#current-cloud-backend
amplify/.config/local-env-info.json
amplify/mock-data
amplify/backend/amplify-meta.json
aws-exports.js

# Logs
*.log
.cache/
/generated/prisma
